.footer {
    background-color: var(--primary-color);
    padding: 2rem 0;
    text-align: center;
    padding-top: 210px;
  
    .footer-content {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1rem;
    }
  
    .logo {
      font-size: 4rem;
      color: var(--secondary-color);
      font-weight: 600;
      margin-bottom: 2rem;
    }
  
    .footer-main {
      .description {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
        text-decoration: underline var(--secondary-color) 3px ;
      }
  
      .social-icons {
        margin-bottom: 3rem;
  
        .social-links {
          display: flex;
          gap: 1.5rem;
          justify-content: center;
          align-items: center;
          padding: 0;
          list-style: none;
  
          li {
            font-size: 1.5rem;
  
            a {
              color: white;
              
  
              &:hover {
               color: var(--secondary-color);
               
            
              }
            }
          }
        }
      }
  
      .copy-right {
        .copy-right-section {
          border-top: 1px solid var(--secondary-color);
          padding-top: 1rem;
          max-width: 1200px;
          margin: 0 auto;
        }
  
        .copy {
          color: rgb(225, 221, 221);
          font-size: 0.9rem;
        }
      }
    }
  
    // Responsive adjustments
    @media (max-width: 768px) {
      .logo {
        font-size: 3rem;
        padding-top: 1rem;
      }
  
      .footer-main {
        .social-icons {
          margin-bottom: 2rem;
  
          .social-links {
            gap: 1rem;
          }
        }
      }
    }
  
    @media (max-width: 576px) {
      .logo {
        font-size: 2.5rem;
        padding-top: 0.5rem;
      }
  
      .description {
        display: none;
      }
  
      .footer-main {
        .social-icons {
          .social-links {
            li {
              font-size: 1.2rem;
            }
          }
        }
  
        .copy-right {
          .copy {
            font-size: 0.8rem;
          }
        }
      }
    }
  }