.footer{
    background-color: var(--primary-color);
    text-align: center;
    .logo{
        font-size: 80px;
        padding-top: 200px;
        color: var(--secondary-color);
        font-weight: 600;
    }
    .description{
        color: rgb(86, 83, 83);
        font-size: 15px;
        padding-bottom: 20px;
    }
    .social-icons{
        margin-bottom: 60px;
        .icons{
            li{
                font-size: 30px;
            }
            li:hover{
                color: var(--secondary-color);
            }
        }
    }
   .copy-right{
    
    .copy-right-section{
        border-top: 1px solid rgb(174, 172, 172);
       
    }
    .copy{
        color: rgb(225, 221, 221);
        margin-top: 10px;
    }
   }
}