header {
  background-color: var(--primary-color);

  .logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 20px;
  }
  .menu-items {
    color: rgba(255, 255, 255, 0.952);
    font-weight: 500;
    font-size: 14px;
    li {
      a {
        &:hover {
          color: #e7aa25;
        }
      }
    }
  }
}

.scrolled {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #252525;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
