header {
  background-color: var(--primary-color);

  .logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
  }
.navbar-toggler{
  border: none;
  .navbar-toggler-icon{
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
 
}
@media (max-width:991px) {
  ul{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgb(63, 61, 61);
  }
  
}
@media (max-width:576px) {
  ul{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgb(64, 63, 63);
   transition: all 2s;
  }
  
}

  .menu-items {
    color: rgba(255, 255, 255, 0.952);
    font-weight: 500;
    font-size: 14px;
    li {
      a {
        &:hover {
          color: #e7aa25;
        }
      }
    }
  }

 
}

.scrolled {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #252525;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  @media (max-width:576px) {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #252525;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    
  }
}
