.banner-section {
    background-color: var(--primary-color);
    .banner {
      padding-top: 100px;
      @media (max-width: 991px) {
        flex-direction: column;
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
      @media (max-width:576p) {
        flex-direction: column;
        
      }
      .banner-details {
        @media (max-width: 991px) {
          text-align: center;
          
        }
        @media (max-width: 768px) {
          text-align: center;
        }
        @media (max-width:576p) {
          text-align: center;
          
        }
  
        .heading {
          font-size: 70px;
          font-weight: 600;
          line-height: 88px;
          color: #ffffff;
  
          @media (max-width: 991px) {
            font-size: 50px;
            font-weight: 500;
            line-height: 34px;
          }
          @media (max-width: 768px) {
             font-size: 50px;
            font-weight: 500;
            line-height: 34px;
          }
          @media (max-width: 576px) {
          font-size: 30px;
           font-weight: 500;
           line-height: 30px;
           margin-top: 30px;
         }
        }
        .animated-text{
          .text{
            position: relative;
            color: var(--secondary-color);
            font-size: 25px;
            font-weight: 500;
  
            @media (max-width:576px) {
              position: relative;
              color: var(--secondary-color);
              font-size: 15px;
              font-weight: 500;
              line-height: 30px;
              
            }
          }
          .text.first-text{
            color: white;
            margin-right: 10px;
          }
  
          .text.sec-text::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--primary-color);
            border-left: 2px solid var(--secondary-color);
            animation: animate 5s steps(12) infinite;
          }
          @keyframes animate{
            40%, 60%{
              left: 100%;
            }
            100%{
              left: 0;
            }
          }
        }
        .hire-me {
          padding: 20px 60px;
          color: white;
          border: none;
          letter-spacing: 1px;
          font-size: 18px;
          margin-top: 50px;
          border-radius: 3px;
          background-color: var(--secondary-color);
          @media (max-width: 991px) {
            padding: 10px 30px;
            color: white;
            border: none;
            letter-spacing: 1px;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 100px;
            border-radius: 3px;
            background-color: var(--secondary-color);
          }
          @media (max-width: 576px) {
            padding: 5px 10px;
            color: white;
            border: none;
            font-size: 13px;
            margin-top: 10px;
            margin-bottom: 100px;
            border-radius: 3px;
            background-color: var(--secondary-color);
          }
        }
        .hire-me:hover {
          background-color: var(--primary-color);
          border: 1px var(--secondary-color) solid;
          color: var(--secondary-color);
        }
      }
      .banner-picture {
        @media (max-width: 991px) {
          height: 300px;
        }
        @media (max-width: 576px) {
          height: 250px;
        }
      }
    }
  }
  .contact {
    background-color: var(--primary-color);
    padding-top: 80px;
  
    h2 {
      font-weight: 700;
      justify-content: center;
      text-align: center;
      font-size: 40px;
      color: rgb(181, 178, 178);
      @media (max-width: 991px) {
        font-size: 25px;
      }
      @media (max-width: 576px) {
        font-size: 25px;
      }
    }
    .contact-p {
      font-size: 15px;
      color: rgb(173, 169, 169);
      letter-spacing: 1px;
      @media (max-width: 991px) {
        font-size: 12px;
        color: rgb(173, 169, 169);
        letter-spacing: 1px;
  
      }
      @media (max-width: 576px) {
        font-size: 10px;
        color: rgb(173, 169, 169);
        letter-spacing: 1px;
  
      }
    }
    .contact-card {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-top: 50px;
      @media (max-width: 991px) {
        display: block;
        text-align: center;
        margin-top: 50px;
      }
      @media (max-width: 576px) {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
      }
  
      .contact-p {
        font-size: 20px;
      }
  
      .contact-info {
        margin-top: 10px;
        width: 50%;
        @media (max-width: 991px) {
          display: none;
        }
        h3 {
          font-size: 22px;
          color: rgb(156, 151, 151);
          font-weight: 500;
          text-align: left;
          margin-bottom: 37px;
        }
        .follow {
          margin-right: 25px;
        }
  
        .location {
          color: #727b86;
  
          align-items: left;
        }
        .gmail {
          color: #727b86;
          justify-content: left;
          align-items: left;
        }
        .ph {
          color: #727b86;
        }
        .follow-me {
          .follow:hover {
            li:hover {
              color: var(--secondary-color);
            }
          }
        }
      }
    }
  
    .contact-form {
      width: 750px;
      border-radius: 2px;
      @media (max-width: 991px) {
        width: 500px;
      }
      @media (max-width: 576px) {
        width: 100%;
        margin: 0 auto;
      }
      div {
        .name {
          width: 100%;
          padding: 20px;
          background-color: #303131;
          border: none;
          color: white;
          font-size: 15px;
          outline: none;
          border-radius: 10px;
          @media (max-width:576px) 
          {
            width: 100%;
            padding: 10px;
            background-color: #303131;
            border: none;
            color: white;
            font-size: 10px;
            outline: none;
            border-radius: 10px;
          }
        }
        .number {
          width: 100%;
          padding: 20px;
          background-color: #303131;
          border: none;
          color: white;
          font-size: 15px;
          outline: none;
          margin-top: 10px;
          border-radius: 10px;
          @media (max-width:576px) {
            padding: 10px;
            font-size: 10px;
          }
        }
        .email {
          width: 100%;
          padding: 20px;
          background-color: #303131;
          border: none;
          color: white;
          font-size: 15px;
          outline: none;
          margin-top: 10px;
          border-radius: 10px;
          @media (max-width:576px) {
            padding: 10px;
            font-size: 10px;
            
          }
        }
      }
  
      .message {
        margin-top: 10px;
        .message-area {
          padding: 20px;
          background-color: #303131;
          border: none;
          color: white;
          font-size: 15px;
          margin-top: 10px;
          width: 100%;
          height: 200px;
          outline: none;
          border-radius: 10px;
          @media (max-width:576px) {
           height: 60px;
           font-size: 10px;
            
          }
        }
      }
  
      .send-message {
        padding: 20px 30px;
        color: white;
        background-color: var(--secondary-color);
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 15px;
        border: none;
        margin-top: 10px;
        font-weight: 500;
        margin-bottom: 100px;
        cursor: pointer;
        @media (max-width:576px) {
          padding:5px 10px ;
          font-size: 10px;;
          
        }
      }
  
      .send-message:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .services {
    background-color: var(--primary-color);
    .services-section {
     
      .srv-heading {
        font-size: 45px;
        color: rgb(173, 171, 171);
        @media (max-width:576px) {
          font-size: 25px;
          
        }
      }
      .service-sub-heading {
        color: rgb(138, 136, 136);
        @media (max-width:576px) {
          font-size: 13px;
          width: 80%;
          margin: 0 auto;
          
        }
      }
      .card {
        border-radius: 10px;
        @media (max-width:991px) {
          width: 100%;
          height: fit-content;
          
        }
       
        
        .card-body {
          padding: 50px;
          @media (max-width:576px) {
            padding: 60px;
            
          }
          .icon {
          
            color: rgb(9, 9, 182);
            font-size: 50px;
            text-align: center;
           
          
            @media (max-width:576px) {
              font-size: 40px;
            color: rgb(9, 9, 182);
            text-align: center;
            margin-top: 20px;
              
            }
          }
          .card-heading {
            margin-top: 20px;
            font-size: 25px;
            font-weight: 600;
            line-height: 38px;
            text-align: center;
            color: var(--secondary-color);

            @media (max-width:991px) {
              margin-top: 20px;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            text-align: center;
              
            }
          
            }
           
          }
          .card-dec {
           text-align: center;
            color: rgb(222, 217, 217);
            @media (max-width:991px) {
              font-size: 13px;
              
            }

          
            
          }
         
      
          }
        }
      }
    
  
  

.about-section{
  background-color: #303131;

  .about-me{

    .heading{
      text-align: center;
      padding-top: 50px;
      font-size: 45px;
      line-height: 50px;
      font-weight: 600;
      color: #ADABAB;
      padding-bottom: 50px;

    }
  }
  .my-details{

    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;

    @media (max-width:991px) {
      display: block;
      flex-direction: column;
      
    }
   
    .intro{
      text-align: center;
      border: 1px solid gray;
      .cv{
        padding: 10px 20px;
        background-color: var(--secondary-color);
        border: none;
        color: white;
        border-radius: 3px;
        &:hover{
          background-color: var(--primary-color);
          color: var(--secondary-color);
          border: 1px solid var(--secondary-color);
        }
      }
    }
    .progress{
      height: 30px;
      width: 90%;
      margin-top: 20px;
      overflow: hidden;
     
      
    }
    

  }
}