.banner-section {
  background-color: var(--primary-color);
  .banner {
    padding-top: 100px;
    .banner-details {
      .heading {
        font-size: 70px;
        font-weight: 600;
        line-height: 88px;
        color: #ffffff;
      }
      .sub-heading {
        font-size: 23px;
        font-weight: 400;
        line-height: 34px;
        color: #a4a1a1;
      }
      .hire-me {
        padding: 20px 60px;
        color: white;
        border: none;
        letter-spacing: 1px;
        font-size: 18px;
        margin-top: 50px;
        border-radius: 3px;
        background-color: var(--secondary-color);
      }
      .hire-me:hover {
        background-color: var(--primary-color);
        border: 1px var(--secondary-color) solid;
        color: var(--secondary-color);
      }
    }
  }
}
.contact {
  background-color: var(--primary-color);
  padding-top: 80px;

  

  h2 {
    
    font-weight: 700;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgb(181, 178, 178);
   
  }
  .contact-p{
    font-size: 15px;
    color: rgb(173, 169, 169);
    letter-spacing: 1px;
  }
  .contact-card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;

    .contact-p{
      font-size: 20px;
    }

    .contact-info {
      margin-top: 10px;
      width: 50%;
      h3 {
        font-size: 22px;
        color: rgb(156, 151, 151);
        font-weight: 500;
        text-align: left;
        margin-bottom: 37px;
      }
      .follow{
        margin-right: 25px;
      }

      .location {
        color: #727b86;

        align-items: left;
      }
      .gmail {
        color: #727b86;
        justify-content: left;
        align-items: left;
      }
      .ph {
        color: #727b86;
      }
      .follow-me {
        .follow:hover {
          li:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  .contact-form {
    width: 750px;
    border-radius: 2px;
    text-align: left;
  

    .name {
      width: 100%;
      padding: 20px;
      background-color: #303131;
      border: none;
      color: white;
      font-size: 15px;
      outline: none;
      border-radius: 10px;
    }
    .number{
      width: 100%;
      padding: 20px;
      background-color: #303131;
      border: none;
      color: white;
      font-size: 15px;
      outline: none;
      margin-top: 10px;
      border-radius: 10px;
    }
    .email{
      width: 100%;
      padding: 20px;
      background-color: #303131;
      border: none;
      color: white;
      font-size: 15px;
      outline: none;
      margin-top: 10px;
      border-radius: 10px;
    }
    .message {
      margin-top: 10px;
      .message-area {
        padding: 20px;
        background-color: #303131;
        border: none;
        color: white;
        font-size: 15px;
        margin-top: 10px;
        width: 100%;
        height: 200px;
        outline: none;
        border-radius: 10px;
      }
    }

    .send-message {
      padding: 20px 30px;
      color: white;
      background-color: var(--secondary-color);
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 15px;
      border: none;
      margin-top: 10px;
      font-weight: 500;
      margin-bottom: 100px;
      cursor: pointer;
    }

    .send-message:hover {
      background-color: white;
      color: black;
    }
  }
}
.about-section {
  background-color: #303131;
  height: 500px;

  .about-section-1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .about-heading{
      font-size: 45px;
      font-weight: 500;
    }

    h2 {
      font-size: 60px;
      font-weight: 600;
      letter-spacing: 1px;
      color: rgb(170, 167, 167);
      margin-top: 200px;
      margin-left: 100px;
    }

    .about {
      width: 600px;
      margin: 30px;


      p {
        color: rgb(133, 131, 131);
        margin-top: 90px;
        text-align: left;
        font-size: 15px;
        letter-spacing: 1px;
      }

      .view-work {
        background-color: var(--secondary-color);
        padding: 20px 50px;
        border-radius: 3px;
        border: none;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        margin-right: 20px;
        cursor: pointer;
      }

      .view-work:hover {
        border: 2px var(--secondary-color) solid;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        cursor: pointer;
       
      }

      .download-cv {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border: 2px var(--secondary-color) solid;
        padding: 20px 38px;
        border-radius: 3px;
        font-size: 18px;
        letter-spacing: 1px;
        margin-right: 160px;
        margin-top: 20px;
      }

      .download-cv:hover {
        background-color: var(--secondary-color);
        border: none;
        color: white;
      }
    }
  }
}

.services {
  background-color: var(--primary-color);
  .services-section {
    .srv-heading{
      font-size: 45px;
      color: rgb(173, 171, 171);
    }
    .service-sub-heading{
      color: rgb(138, 136, 136);
    }
    .card {
      .card-body {
        padding: 50px;
        .icon {
          font-size: 50px;
          color: rgb(9, 9, 182);
          padding-left: 30px;
          margin-top: 20px;
        }
        .card-heading {
          padding-left: 30px;
          margin-top: 20px;
          font-size: 32px;
          font-weight: 600;
          line-height: 38px;
         
        }
        .card-dec {
          padding-left: 30px;
          color: rgb(222, 217, 217);
        }
        .card-dec-1 {
          padding-left: 30px;
          color: rgb(222, 217, 217);
        }
        .card-dec-2 {
          padding-left: 30px;
          color: rgb(222, 217, 217);
        }
        .card-dec-3 {
          padding-left: 30px;
          color: rgb(222, 217, 217);
        }
      }
    }
  }
}
