.banner-section {
  background-color: var(--primary-color);
  .banner {
    padding-top: 100px;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;

    @media (max-width: 991px) {
      flex-direction: column;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 576p) {
      flex-direction: column;
    }
    .banner-details {
      @media (max-width: 991px) {
        text-align: center;
      }
      @media (max-width: 768px) {
        text-align: center;
      }
      @media (max-width: 576px) {
        text-align: center;
      }

      .heading {
        font-size: 70px;
        font-weight: 600;
        line-height: 88px;
        color: #ffffff;

        @media (max-width: 991px) {
          font-size: 50px;
          font-weight: 500;
          line-height: 34px;
        }
        @media (max-width: 768px) {
          font-size: 50px;
          font-weight: 500;
          line-height: 34px;
        }
        @media (max-width: 576px) {
          font-size: 30px;
          font-weight: 500;
          line-height: 30px;
          margin-top: 30px;
        }
      }
      .animated-text {
        .text {
          position: relative;
          color: var(--ternary-color);
          font-size: 25px;
          font-weight: 500;

          @media (max-width: 576px) {
            position: relative;
            color: var(--ternary-color);
            font-size: 15px;
            font-weight: 500;
            line-height: 30px;
            overflow: hidden;
          }
        }
        .text.first-text {
          color: white;
          margin-right: 10px;
        }

        .text.sec-text::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: var(--primary-color);
          border-left: 2px solid var(--secondary-color);
          animation: animate 5s steps(12) infinite;
          outline: 1px solid red;
        }
        @keyframes animate {
          40%,
          60% {
            left: 100%;
          }
          100% {
            left: 0;
          }
        }
      }

      .banner-heading-sub {
        color: white;
        font-size: 17px;
        line-height: 25px;
        font-weight: 400;
        margin-top: 14px;
        @media (max-width: 991px) {
          font-size: 15px;
          line-height: 20px;
        }
      }
      .hire-me {
        padding: 10px 30px;
        color: white;
        background-color: var(--secondary-color);
        border: none;
        letter-spacing: 1px;
        font-size: 18px;
        margin-top: 50px;
        border-radius: 3px;

        transition: all 0.3s ease;
        @media (max-width: 991px) {
          padding: 10px 30px;
          color: white;
          border: none;
          letter-spacing: 1px;
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 100px;
          border-radius: 3px;
          background-color: var(--secondary-color);
          transition: all 0.3s ease;
        }
        @media (max-width: 576px) {
          padding: 5px 10px;
          color: white;
          border: none;
          font-size: 13px;
          margin-top: 10px;
          margin-bottom: 100px;
          border-radius: 3px;
          background-color: var(--secondary-color);
          transition: all 0.3s ease;
        }
      }
      .hire-me:hover {
        background-color: var(--secondary-color);
        color: white;
        transform: scale(1.1);
      }
    }
    .banner-picture {
      @media (max-width: 991px) {
        height: 300px;
      }
      @media (max-width: 576px) {
        height: 250px;
      }
    }
  }
}
.about-section {
  background-color: #303131; // Dark gray background
  color: white;
  padding: 5rem 0;

  .heading {
    font-size: 2.3rem;
    color: var(--ternary-color);
    font-weight: 500;
    margin-bottom: 4rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: underline var(--secondary-color) 5%;

    @media (max-width: 768px) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  .xll {
    display: flex;
    gap: 10px;
    @media (max-width: 991px) {
      display: block;
    }
  }

  .intro {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: 1px solid #4a4a4a;

    .description {
      color: var(--ternary-color);
      line-height: 1.8;
      margin-bottom: 1.5rem;
      font-size: 1.1rem;
      text-align: center;
      @media (max-width: 576px) {
        font-size: 1rem;
      }
    }

    .cv {
      background-color: var(--secondary-color);
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: 500;
      display: block;
      margin: 0 auto;
      align-items: center;
      transition: all 0.3s ease;
      justify-content: center;

      &:hover {
        transform: scale(1.1);
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .skill {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: 1px solid #4a4a4a;

    h2 {
      color: var(--ternary-color);
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
    }

    .progress {
      height: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      margin-bottom: 1.5rem;
      @media (max-width: 576px) {
      }

      &-bar {
        border-radius: 10px;
        background-color: var(--secondary-color);
        position: relative;
        overflow: visible;

        &::after {
          content: attr(aria-valuenow) "%";
          position: absolute;
          right: 5px;
          top: -25px;
          font-size: 0.75rem;
          color: white;
          background: rgba(0, 0, 0, 0.7);
          padding: 2px 5px;
          border-radius: 3px;
        }
      }
    }

    .form-label {
      color: var(--ternary-color);
      margin-bottom: 0.5rem;
      display: block;
      font-size: 0.95rem;
    }
  }

  @media (max-width: 992px) {
    .intro,
    .skill {
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 576px) {
    padding: 1rem 0;
    margin-bottom: 0;

    .intro,
    .skill {
      padding: 1.5rem;
    }
  }
}
.services-section {
  padding: 5rem 0;
  background-color: var(--primary-color);

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .section-header {
      text-align: center;
      margin-bottom: 3rem;

      .section-title {
        font-size: 2.3rem;
        color: var(--ternary-color);
        margin-bottom: 1rem;
        font-weight: 500;
        text-decoration: underline var(--secondary-color) 5%;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      .section-subtitle {
        font-size: 1.1rem;
        color: var(--ternary-color);
        max-width: 700px;
        margin: 0 auto;
      }
    }

    .services-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .service-card {
        background: rgb(214, 214, 214);
        border-radius: 12px;
        padding: 2rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-top: 4px solid var(--accent-color);

        @media (max-width: 480px) {
          padding: 1.5rem;
        }

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        }

        .service-icon-container {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1.5rem;
          background-color: rgba(var(--accent-color), 0.1);
          color: var(--accent-color);
          font-size: 1.5rem;

          .service-icon {
            stroke-width: 1.5;
          }
        }

        .service-title {
          font-size: 1.3rem;
          color: black;
          margin-bottom: 1rem;
          font-weight: 600;
        }

        .service-description {
          color: black;
          line-height: 1.6;
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 3rem 0;
  }
}
.contact {
  background-color: var(--primary-color);
  padding-top: 80px;
  min-height: 100vh;

  h2 {
    font-weight: 500;
    font-size: 2.3rem;

    color: var(--ternary-color);
    margin-bottom: 15px;
    text-decoration: underline var(--secondary-color) 5%;

    @media (max-width: 991px) {
      font-size: 32px;
    }
    @media (max-width: 576px) {
      font-size: 28px;
    }
  }

  .contact-p {
    font-size: 18px;
    color: var(--ternary-color);
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      font-size: 16px;
    }
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  &-card {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 40px;
    border: 0.5px solid var(--secondary-color);

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }

    @media (max-width: 576px) {
      padding: 20px;
    }

    .contact-info {
      width: 45%;
      margin-top: 10px;

      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 40px;
        order: 2;
      }

      h3 {
        font-size: 24px;
        color: var(--ternary-color);
        font-weight: 500;
        margin-bottom: 30px;
        text-decoration: underline var(--secondary-color) 3px;
      }

      p {
        color: var(--ternary-color);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-size: 16px;
        justify-content: center;
        margin-top: 30px;
        &:hover {
          text-decoration: underline var(--secondary-color) 1px;
          cursor: pointer;
        }

        @media (max-width: 991px) {
          justify-content: center;
        }

        .icon {
          margin-right: 10px;
          color: var(--secondary-color);
          font-size: 18px;
        }
      }

      .follow-me {
        h3 {
          margin-bottom: 20px;
        }

        ul.follow {
          padding: 0;

          li {
            list-style: none;

            a {
              color: var(--ternary-color);
              transition: color 0.3s;

              &:hover {
                color: var(--secondary-color);
              }

              .icon {
                transition: transform 0.3s;
              }

              &:hover .icon {
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }

    .contact-form {
      width: 50%;

      @media (max-width: 991px) {
        width: 100%;
        order: 1;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;

        input {
          width: 100%;
          padding: 15px;
          background-color: #303131;
          border: none;
          color: white;
          font-size: 16px;
          outline: none;
          border-radius: 8px;
          transition: all 0.3s;

          &::placeholder {
            color: var(--ternary-color);
          }

          &:focus {
            box-shadow: 0 0 0 2px var(--secondary-color);
          }

          @media (max-width: 576px) {
            padding: 12px;
            font-size: 14px;
          }
        }
      }

      .message-area {
        width: 100%;
        padding: 15px;
        background-color: #303131;
        border: none;
        color: white;
        font-size: 16px;
        outline: none;
        border-radius: 8px;
        resize: vertical;
        min-height: 150px;
        transition: all 0.3s;

        &::placeholder {
          color: var(--ternary-color);
        }

        &:focus {
          box-shadow: 0 0 0 2px var(--secondary-color);
        }

        @media (max-width: 576px) {
          min-height: 120px;
          font-size: 14px;
        }
      }

      .send-message {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        color: white;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s;
        text-transform: uppercase;
       
        &:hover {
          background-color: var(--secondary-color);
          transform: scale(1.1);
        }

        @media (max-width: 576px) {
          padding: 12px;
          font-size: 14px;
        }
      }
    }
  }
}
