.banner-section {
  background-color: var(--primary-color);
  .banner {
    padding-top: 100px;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width:576p) {
      flex-direction: column;
      
    }
    .banner-details {
      @media (max-width: 991px) {
        text-align: center;
        
      }
      @media (max-width: 768px) {
        text-align: center;
      }
      @media (max-width:576p) {
        text-align: center;
        
      }

      .heading {
        font-size: 70px;
        font-weight: 600;
        line-height: 88px;
        color: #ffffff;

        @media (max-width: 991px) {
          font-size: 50px;
          font-weight: 500;
          line-height: 34px;
        }
        @media (max-width: 768px) {
           font-size: 50px;
          font-weight: 500;
          line-height: 34px;
        }
        @media (max-width: 576px) {
          font-size: 30px;
         font-weight: 500;
         line-height: 18px;
         margin-top: 30px;
       }
      }
      .sub-heading {
        font-size: 23px;
        font-weight: 400;
        line-height: 34px;
        color: #a4a1a1;
        @media (max-width: 991px) {
          font-size: 15px;
          font-weight: 500;
          line-height: 34px;
        }
        @media (max-width: 576px) {
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-top: 10px;
        }
      }
      .hire-me {
        padding: 20px 60px;
        color: white;
        border: none;
        letter-spacing: 1px;
        font-size: 18px;
        margin-top: 50px;
        border-radius: 3px;
        background-color: var(--secondary-color);
        @media (max-width: 991px) {
          padding: 10px 30px;
          color: white;
          border: none;
          letter-spacing: 1px;
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 100px;
          border-radius: 3px;
          background-color: var(--secondary-color);
        }
        @media (max-width: 576px) {
          padding: 5px 10px;
          color: white;
          border: none;
          font-size: 10px;
          margin-top: 5px;
          margin-bottom: 100px;
          border-radius: 3px;
          background-color: var(--secondary-color);
        }
      }
      .hire-me:hover {
        background-color: var(--primary-color);
        border: 1px var(--secondary-color) solid;
        color: var(--secondary-color);
      }
    }
    .banner-picture {
      @media (max-width: 991px) {
        height: 300px;
      }
      @media (max-width: 576px) {
        height: 250px;
      }
    }
  }
}
.contact {
  background-color: var(--primary-color);
  padding-top: 80px;

  h2 {
    font-weight: 700;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgb(181, 178, 178);
    @media (max-width: 991px) {
      font-size: 25px;
    }
    @media (max-width: 576px) {
      font-size: 25px;
    }
  }
  .contact-p {
    font-size: 15px;
    color: rgb(173, 169, 169);
    letter-spacing: 1px;
    @media (max-width: 991px) {
      font-size: 12px;
      color: rgb(173, 169, 169);
      letter-spacing: 1px;

    }
    @media (max-width: 576px) {
      font-size: 10px;
      color: rgb(173, 169, 169);
      letter-spacing: 1px;

    }
  }
  .contact-card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    @media (max-width: 991px) {
      display: block;
      text-align: center;
      margin-top: 50px;
    }
    @media (max-width: 576px) {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 80%;
    }

    .contact-p {
      font-size: 20px;
    }

    .contact-info {
      margin-top: 10px;
      width: 50%;
      @media (max-width: 991px) {
        display: none;
      }
      h3 {
        font-size: 22px;
        color: rgb(156, 151, 151);
        font-weight: 500;
        text-align: left;
        margin-bottom: 37px;
      }
      .follow {
        margin-right: 25px;
      }

      .location {
        color: #727b86;

        align-items: left;
      }
      .gmail {
        color: #727b86;
        justify-content: left;
        align-items: left;
      }
      .ph {
        color: #727b86;
      }
      .follow-me {
        .follow:hover {
          li:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  .contact-form {
    width: 750px;
    border-radius: 2px;
    @media (max-width: 991px) {
      width: 500px;
    }
    @media (max-width: 576px) {
      width: 90%;
      margin: 0 auto;
    }
    div {
      .name {
        width: 100%;
        padding: 20px;
        background-color: #303131;
        border: none;
        color: white;
        font-size: 15px;
        outline: none;
        border-radius: 10px;
        @media (max-width:576px) 
        {
          width: 100%;
          padding: 10px;
          background-color: #303131;
          border: none;
          color: white;
          font-size: 10px;
          outline: none;
          border-radius: 10px;
        }
      }
      .number {
        width: 100%;
        padding: 20px;
        background-color: #303131;
        border: none;
        color: white;
        font-size: 15px;
        outline: none;
        margin-top: 10px;
        border-radius: 10px;
        @media (max-width:576px) {
          padding: 10px;
          font-size: 10px;
        }
      }
      .email {
        width: 100%;
        padding: 20px;
        background-color: #303131;
        border: none;
        color: white;
        font-size: 15px;
        outline: none;
        margin-top: 10px;
        border-radius: 10px;
        @media (max-width:576px) {
          padding: 10px;
          font-size: 10px;
          
        }
      }
    }

    .message {
      margin-top: 10px;
      .message-area {
        padding: 20px;
        background-color: #303131;
        border: none;
        color: white;
        font-size: 15px;
        margin-top: 10px;
        width: 100%;
        height: 200px;
        outline: none;
        border-radius: 10px;
        @media (max-width:576px) {
         height: 60px;
         font-size: 10px;
          
        }
      }
    }

    .send-message {
      padding: 20px 30px;
      color: white;
      background-color: var(--secondary-color);
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 15px;
      border: none;
      margin-top: 10px;
      font-weight: 500;
      margin-bottom: 100px;
      cursor: pointer;
      @media (max-width:576px) {
        padding:5px 10px ;
        font-size: 10px;;
        
      }
    }

    .send-message:hover {
      background-color: white;
      color: black;
    }
  }
}
.about-section {
  background-color: #303131;
  height: 500px;
  @media (max-width: 991px) {
    height: 700px;
  }

  .about-section-1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    @media (max-width: 991px) {
      flex-direction: column;
      text-align: center;
    }
    @media (max-width: 576px) {
      flex-direction: column;
      text-align: center;
    }
    .about-heading {
      font-size: 45px;
      font-weight: 500;
      @media (max-width: 991px) {
        font-size: 35px;
        padding-right: 80px;
        font-weight: 500;
      }
      @media (max-width: 576px) {
        font-size: 25px;
        padding-right: 80px;
        font-weight: 500;
      }
    }

    h2 {
      font-size: 60px;
      font-weight: 600;
      letter-spacing: 1px;
      color: rgb(170, 167, 167);
      margin-top: 200px;
      margin-left: 100px;
      @media (max-width: 991px) {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgb(170, 167, 167);
        margin-top: 70px;
        margin-left: 100px;
      }
      @media (max-width: 576px) {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgb(170, 167, 167);
        margin-top: 70px;
       
      }
    }

    .about {
      width: 600px;
      margin: 30px;
      @media (max-width: 991px) {
        display: block;
        width: 500px;
        margin-left: 100px;
      }
      @media (max-width: 991px) {
        display: block;
        width: 350px;
        margin-left: 110px;
      }

      p {
        color: rgb(133, 131, 131);
        margin-top: 90px;
        text-align: left;
        font-size: 15px;
        letter-spacing: 1px;
        @media (max-width: 991px) {
          color: rgb(133, 131, 131);
          margin-top: 10px;
          text-align: center;
          font-size: 13px;
        }
        @media (max-width: 576px) {
          color: rgb(133, 131, 131);
          text-align: center;
          font-size: 12px;
        }
      }

        .download-cv {
          background-color: var(--primary-color);
          color: var(--secondary-color);
          border: 2px var(--secondary-color) solid;
          padding: 20px 50px;
          border-radius: 3px;
          font-size: 18px;
          letter-spacing: 1px;
          margin-right: 160px;
          margin-top: 20px;
          text-align: center;

          @media (max-width:576px) {
          padding: 10px;
            
          }
        }

        .download-cv:hover {
          background-color: var(--secondary-color);
          border: none;
          color: white;
        }
      }
    }
  }


.services {
  background-color: var(--primary-color);
  .services-section {
   
    .srv-heading {
      font-size: 45px;
      color: rgb(173, 171, 171);
      @media (max-width:576px) {
        font-size: 25px;
        
      }
    }
    .service-sub-heading {
      color: rgb(138, 136, 136);
      @media (max-width:576px) {
        font-size: 13px;
        width: 80%;
        margin: 0 auto;
        
      }
    }
    .card {
      @media (max-width:576px) {
        width: 80%;
        margin: 0 auto;
        border-radius: 5px;
      }
      @media (min-width:320px) {
        width: 80%;
        margin: 0 auto;
        border-radius: 5px;
       
        
      }
      
      .card-body {
        padding: 50px;
        @media (max-width:576px) {
          padding: 60px;
          
        }
        .icon {
          font-size: 50px;
          color: rgb(9, 9, 182);
          padding-left: 30px;
          margin-top: 20px;
          @media (max-width:576px) {
            font-size: 40px;
          color: rgb(9, 9, 182);
          text-align: center;
          margin-top: 20px;
            
          }
        }
        .card-heading {
          padding-left: 30px;
          margin-top: 20px;
          font-size: 32px;
          font-weight: 600;
          line-height: 38px;
          @media (max-width:576px) {
          text-align: center;
          margin-top: 10px;
          font-size: 20px;
          font-weight: 600;
    
          }
          @media (max-width:320px) {
            text-align: center;
            margin-top: 10px;
            font-size: 15px;
            font-weight: 600;
      
            }
        }
        .card-dec {
          padding-left: 30px;
          color: rgb(222, 217, 217);
          @media (max-width:576px) {
            text-align: center;
            color: rgb(222, 217, 217);
            font-size: 12px;
          }
        }
        .card-dec-1 {
          padding-left: 30px;
          color: rgb(222, 217, 217);
          @media (max-width:576px) {
            text-align: center;
            color: rgb(222, 217, 217);
            font-size: 12px;
          }
        }
        .card-dec-2 {
          padding-left: 30px;
          color: rgb(222, 217, 217);
          @media (max-width:576px) {
            text-align: center;
            color: rgb(222, 217, 217);
            font-size: 12px;
          }
        }
        .card-dec-3 {
          padding-left: 30px;
          color: rgb(222, 217, 217);
          @media (max-width:576px) {
            text-align: center;
            color: rgb(222, 217, 217);
            font-size: 12px;
          }
        }
      }
    }
  }
}
